<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="#"><b>Home</b></a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="#"><b>About Us</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><b>Contact</b></a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="#"><b>More Information </b></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>